html {
	background-image: url("../images/fondo.png");
	background-repeat: repeat;
}

body {
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

.encabezado {
	background-image: url("../images/header.png");
	background-repeat: no-repeat;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	width: 964px;
}

#footer {
	background-image: url("../images/footer.png");
	background-repeat: no-repeat;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -30px;
	width: 964px;
}

.content {
	background-color: white;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	width: 964px;
}

.menu {
	background-image: url("../images/menu1.png");
	height: 173px;
	margin-left: auto;
	margin-right: auto;
	width: 964px;
}

.menu ul li {
	display: inline-block;
	height: 100px;
	margin-top: 60px;
	padding-right: 38px;
}

.menu ul {
	
}

.menu_izq {
	background-image: url("../images/menu_izq.png");
	background-repeat: no-repeat;
	float: left;
	height: 173px;
	margin-left: -84px;
	width: 100px;
}

.menu_der {
	background-image: url("../images/menu_der.png");
	float: right;
	height: 173px;
	margin-right: -84px;
	margin-top: -173px;
	width: 84px;
}

p {
	font-size: 140%;
}

p:hover {
	background-color: blue;
}

#ej {
	color: green;
}

#encontranos_box {
	float: left;
	height: 88px;
	margin-left: 25px;
	width: 417px;
}

#buscador_anunciantes_box {
	float: left;
	height: 88px;
	margin-left: 25px;
	margin-right: 25px;
	width: 472px;
}

.box_header {
	background-image: url("../images/barra_marron.png");
	height: 30px;
	width: 497px;
}

.box_header_side {
	background-image: url("../images/barra_marron_lateral.png");
	background-repeat: no-repeat;
	float: right;
	height: 40px;
	margin-right: -36px;
	margin-top: -30px;
	width: 11px;
}

.box_header_label {
	background-image: url("../images/labels/anunciantes.png");
	background-position: center center;
	background-repeat: no-repeat;
	float: right;
	height: 50px;
	margin-top: -30px;
	width: 472px;
}

.box_content input {
	float: left;
	margin-left: 5px;
	width: 400px;
}

.box_content {
	margin-top: 30px;
	text-align: center;
}

#menu_anunciantes_box {
	height: 260px;
	margin-top: 30px;
	width: 100%;
}

#revista_box_small {
	float: left;
	height: 88px;
	margin-left: 25px;
	margin-right: 25px;
	width: 340px;
}

#revista_box_small .box_header {
	width: 389px;
}

#revista_box_small .box_header_label {
	width: 293px;
}

#revista_box_small .box_header_side {
	margin-right: -60px;
}

#revista_box_small .box_header_label {
	background-image: url("../images/labels/revistaOnline.png");
}

#publicidad_box_small {
	float: left;
	height: 88px;
	margin-left: 25px;
	margin-right: 25px;
	width: 340px;
}

#publicidad_box_small .box_header {
	width: 389px;
}

#publicidad_box_small .box_header_label {
	width: 293px;
}

#publicidad_box_small .box_header_side {
	margin-right: -60px;
}

#publicidad_box_small .box_header_label {
	background-image: url("../images/labels/publicidad.png");
}

#menu_anunciantes_box_centro {
	background-image: url("../images/menu_anunciantes.png");
	height: 258px;
	margin-left: 15px;
	margin-right: 15px;
}

#menu_anunciantes_box_izq {
	background-image: url("../images/menu_anunciantes_izq.png");
	background-repeat: no-repeat;
	float: left;
	height: 259px;
	margin-left: -46px;
	margin-top: 14px;
	width: 61px;
}

#menu_anunciantes_box_der {
	background-image: url("../images/menu_anunciantes_der.png");
	float: right;
	height: 259px;
	margin-right: -46px;
	margin-top: -249px;
	width: 61px;
}

#menu_anunciantes_box_header_label {
	background-image: url("../images/labels/anunciantes_menu.png");
	background-repeat: no-repeat;
	float: right;
	height: 31px;
	margin-top: 18px;
	width: 100%;
}

#menu_anunciantes_box_centro li {
	display: inline-block;
	height: 100px;
	margin-top: 30px;
	padding-right: 95px;
	width: 70px;
}

#menu_anunciantes_box_centro ul {
	margin-left: 93px;
}

.section_container {
	float: left;
}

.section_container_small {
	float: left;
	width: 550px;
}

.section_header {
	background-color: #30AD78;
	height: 35px;
	width: 120px;
}

.section_header_text {
	background-color: #30AD78;
	color: white;
	font-size: 150%;
	padding-top: 7px;
	text-align: center;
	text-transform: uppercase;
}

.section_header_der {
	background-image: url("../images/extremo_secciones.png");
	background-repeat: no-repeat;
	float: right;
	height: 35px;
	margin-right: -14px;
	margin-top: -27px;
	width: 14px;
}

.section_header_izq {
	background-image: url("../images/titulo_secciones.png");
	background-repeat: no-repeat;
	float: left;
	height: 43px;
	margin-left: -15px;
	margin-top: 0;
	width: 15px;
}

.section_content {
	height: 220px;
	margin-top: 20px;
}

.section_content img {
	float: left;
	margin-left: 10px;
	width: 250px;
}

.view_more {
	float: left;
	height: 30px;
	margin-left: -623px;
	margin-top: 153px;
	width: 101px;
}

.view_more_left {
	float: left;
	height: 30px;
	margin-left: 15px;
	margin-top: 122px;
	width: 101px;
}

.halfCol_more {
	margin-left: -272px;
	margin-top: 153px;
}

.section_content_text {
	float: left;
	height: 170px;
	margin-left: 10px;
	margin-top: 10px;
	width: 600px;
}

.separador {
	background-image: url("../images/guia_separador.png");
	background-repeat: repeat-x;
	height: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

.halfCol {
	width: 250px;
}

#menu_anunciantes_box_centro li span {
	display: block;
	margin-top: 20px;
	text-align: center;
}

#menu_anunciantes_box_centro_mas {
	color: orange;
	display: block;
	margin-right: 30px;
	text-align: right;
}

#myCarousel {
	margin-left: 100px;
	margin-right: 100px;
	width: 749px;
}

.btn-nuevo,.btn-nuevo:active,.btn-nuevo:focus,.btn-nuevo:hover {
	float: right;
	margin-right: 65px;
	margin-bottom: 25px;
	background-image: linear-gradient(to bottom, #E8C73F, #FCE583);
	background-color: #E8C73F;
}

.btn-nuevo:active,.btn-nuevo:focus,.btn-nuevo:hover {
	background-color: #FCE583;
}

form {
	padding-bottom: 50px;
}

.encabezadoNovedad {
	width: 100%;
}

.imgNovedad {
	width: 30%;
	float: left;
	margin-right: 15px;
}

.tituloNovedad {
	width: 68%;
	float: left;
	clear: right;
	font-size: xx-large;
	line-height: 110%;
}

.fechaNovedad {
	width: 68%;
	float: left;
	clear: right;
	font-size: x-small;
	margin-bottom: 15px;
}

.textoNovedad {
	padding-left: 5px;
	clear: both;
}

.textoNovedad p,.textoNovedad p:hover {
	font-size: 100%;
	background: none;
}

.formLabel {
	float: left;
	margin: 5px;
}

.formControl {
	float: left;
	margin: 5px;
}
}