html {
	background-image: url("../images/fondo.png");
	background-repeat: repeat;
}

body {
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

.encabezado {
	background-image: url("../images/header.png");
	background-repeat: no-repeat;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	width: 964px;
}



#footer {
	background-image: url("../images/footer.png");
	background-repeat: no-repeat;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -200px;
	width: 964px;
}

.texto-footer{
	margin-top:200px;
}

#footer-nav li
{
display: inline;
list-style-type: none;
padding-right: 60px;
color: #30AD78;
font-weight: 100;
}


#footer-nav li a:hover,#footer-nav li a{
	color: #30AD78;
	text-decoration: none;
}

#footer-nav li:hover {
	color: #30AD78;
	text-decoration: none;
}

#footer-nav{
   clear: both;
    position: relative;
    text-align: center;
    top: 100px;
}
.content {
	background-color: white;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	width: 964px;
	padding-bottom: 150px;
}

.menu {
	background-image: url("../images/menu1.png");
	height: 173px;
	margin-left: auto;
	margin-right: auto;
	width: 964px;
}

.menu ul li {
	display: inline-block;
	height: 100px;
	margin-top: 60px;
	padding-right: 29px;
}

.menu ul {
	
}

.menu_izq {
	background-image: url("../images/menu_izq.png");
	background-repeat: no-repeat;
	float: left;
	height: 173px;
	margin-left: -84px;
	width: 100px;
}

.menu_der {
	background-image: url("../images/menu_der.png");
	float: right;
	height: 173px;
	margin-right: -84px;
	margin-top: -173px;
	width: 84px;
}

p {
	font-size: 140%;
}

p:hover {
	//background-color: blue;
}

#ej {
	color: green;
}

#encontranos_box {
	float: left;
	height: 88px;
	margin-left: 25px;
	width: 417px;
}

#buscador_anunciantes_box {
	float: left;
	height: 88px;
	margin-left: 25px;
	margin-right: 25px;
	width: 472px;
}

.box_header {
	background-image: url("../images/barra_marron.png");
	height: 30px;
	width: 497px;
}

.box_header_side {
	background-image: url("../images/barra_marron_lateral.png");
	background-repeat: no-repeat;
	float: right;
	height: 40px;
	margin-right: -36px;
	margin-top: -30px;
	width: 11px;
}

.box_header_label {
	background-image: url("../images/labels/anunciantes.png");
	background-position: center center;
	background-repeat: no-repeat;
	float: right;
	height: 50px;
	margin-top: -30px;
	width: 472px;
}

.box_content input {
	float: left;
	margin-left: 5px;
	width: 400px;
}

.box_content {
	margin-top: 30px;
	text-align: center;
}

#menu_anunciantes_box {
	height: 260px;
	margin-top: 30px;
	width: 100%;
}

#menu_anunciantes_box_solo {
	margin-top: 30px;
	width: 100%;
}

#revista_box_small {
	float: left;
	height: 88px;
	margin-left: 25px;
	margin-right: 25px;
	width: 340px;
}

#revista_box_small .box_header {
	width: 389px;
}

#revista_box_small .box_header_label {
	width: 293px;
}

#revista_box_small .box_header_side {
	margin-right: -60px;
}

#revista_box_small .box_header_label {
	background-image: url("../images/labels/revistaOnline.png");
}

#publicidad_box_small {
	float: left;
	height: 88px;
	margin-left: 25px;
	margin-right: 25px;
	width: 340px;
}

#publicidad_box_small .box_header {
	width: 389px;
}

#publicidad_box_small .box_header_label {
	width: 293px;
}

#publicidad_box_small .box_header_side {
	margin-right: -60px;
}

#publicidad_box_small .box_header_label {
	background-image: url("../images/labels/publicidad.png");
}

#menu_anunciantes_box_centro {
	background-image: url("../images/menu_anunciantes.png");
	height: 258px;
	margin-left: 0px;
	margin-right: 0px;
}

#menu_anunciantes_box_centro_solo {
	margin-left: 50px;
	margin-right: 50px;
}

#menu_anunciantes_box_izq {
	background-image: url("../images/menu_anunciantes_izq.png");
	background-repeat: no-repeat;
	float: left;
	height: 259px;
	margin-left: -61px;
	margin-top: 4px;
	width: 61px;
}

#menu_anunciantes_box_der {
	background-image: url("../images/menu_anunciantes_der.png");
	float: right;
	height: 259px;
	margin-right: -61px;
	margin-top: -254px;
	width: 61px;
}

#menu_anunciantes_box_header_label {
	background-image: url("../images/labels/anunciantes_menu.png");
	background-repeat: no-repeat;
	float: right;
	height: 31px;
	margin-top: 18px;
	width: 100%;
}

#menu_anunciantes_box_centro li,#menu_anunciantes_box_centro_solo li {
	display: inline-block;
	height: 100px;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	width: 70px;
}

#menu_anunciantes_box_centro ul {
	margin-left: 53px;
}

.section_container {
	float: left;
}

.section_container_small {
	float: left;
	width: 550px;
}

.section_header {
	background-color: #30AD78;
	height: 35px;
	width: 120px;
}

.section_header_text {
	background-color: #30AD78;
	color: white;
	font-size: 150%;
	padding-top: 7px;
	text-align: center;
	text-transform: uppercase;
}

.section_header_der {
	background-image: url("../images/extremo_secciones.png");
	background-repeat: no-repeat;
	float: right;
	height: 35px;
	margin-right: -14px;
	margin-top: -27px;
	width: 14px;
}

.section_header_izq {
	background-image: url("../images/titulo_secciones.png");
	background-repeat: no-repeat;
	float: left;
	height: 43px;
	margin-left: -15px;
	margin-top: 0;
	width: 15px;
}

.section_content {
	clear: both;
	padding-top: 20px;
	font-weight: normal;
}

.section_content_novedad {
	height: 220px;
	margin-top: 20px;
}

.section_content_home {
	height: 220px;
	margin-top: 20px;
}
.section_content_old {
	margin: 15px;
	padding: 0;
	width: 450px;;
}

/* .section_content img { */
/* 	float: left; */
/* 	margin-left: 19px; */
/* 	width: 250px; */
/* } */

.section_content img {
	float: left;
	margin-left: 19px;
	width: 450px;
}

.section_content_rever img{
		float: right;
	margin-right: 19px;
	width: 450px;
}
.section_content_home img {
	float: left;
	margin-left: 19px;
	width: 250px;
}

.section_content_old img {
	float: left;
	margin-left: 10px;
	width: 250px;
}

.view_more {
	float: left;
	height: 30px;
	//margin-left: -623px;
	margin-top: 153px;
	width: 101px;
}

.view_more_novedad {
	float: left;
	width: 100%;
	height: 30px;
}

.view_more_novedad img {
	float: right;
	height: 30px;
	margin: -40px 20px 44px;
	width: 100px;
}

.view_more_left {
	float: left;
	height: 30px;
	margin-left: 15px;
	margin-top: 122px;
	width: 101px;
}

.halfCol_more {
	margin-left: -272px;
	margin-top: 153px;
}

.section_content_text {
	float: left;
	height: 170px;
	margin-left: 10px;
	margin-top: 10px;
	width: 450px;
}
.section_content_text_nosotros{
		float: left;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-top: 10px;
	width: 450px;
	text-align: justify;
}

.section_content_text_right{
	height: 170px;
	margin-left: 10px;
	margin-top: 10px;
	width: 450px;
}
.section_content_title {
	float: left;
	margin-left: 13px;
	width: 400px;
	color: #30AD78;
	font-size: 140%;
}
/* .section_content_title { */
/* 	float: left; */
/* 	margin-left: 13px; */
/* 	width: 600px; */
/* 	color: #30AD78; */
/* 	font-size: 140%; */
/* } */


/* .section_content_title_antigua { */
/* 	float: left; */
/* 	margin-left: 13px; */
/* 	width: 600px; */
/* 	color: #30AD78; */
/* 	font-size: 11pt; */
/* 	font-family: century gothic, verdana, arial, helvetica, sans-serif; */
/* } */

.section_content_title_antigua {
	float: left;
	margin-left: 13px;
	width: 400px;
	color: #30AD78;
	font-size: 11pt;
	font-family: century gothic, verdana, arial, helvetica, sans-serif;
}
/* .section_content_title_ultima { */
/* 	float: left; */
/* 	margin-left: 13px; */
/* 	width: 600px; */
/* 	color: #30AD78; */
/* 	font-size: 19pt; */
/* 	font-weight: bolder; */
/* 	font-family: century gothic, verdana, arial, helvetica, sans-serif; */
/* } */

.section_content_title_ultima {
	float: left;
	margin-left: 13px;
	width: 400px;
	color: #30AD78;
	font-size: 19pt;
	font-weight: bolder;
	font-family: century gothic, verdana, arial, helvetica, sans-serif;
}

.separador {
	background-image: url("../images/guia_separador.png");
	background-repeat: repeat-x;
	height: 20px;
	margin-left: 19px;
	margin-right: 19px;
}

.halfCol {
	width: 250px;
}

#menu_anunciantes_box_centro li span {
	display: block;
	margin-top: 20px;
	text-align: center;
}

#menu_anunciantes_box_centro_mas {
	color: orange;
	display: block;
	margin-right: 30px;
	text-align: right;
}

#myCarousel {
	margin-left: 100px;
	margin-right: 100px;
	width: 749px;
}

#myCarouselGaleria {
	margin-left: 100px;
	margin-right: 100px;
	width: 749px;
	height: 400px;
	margin-top: 30px;
}

#myCarouselGaleria img {
	height: 400px;
	margin: auto;
}

#myCarouselGaleria .carousel-control {
	positiom: relative;
	top: 150px;
}

.btn-nuevo,.btn-nuevo:active,.btn-nuevo:focus,.btn-nuevo:hover {
	float: right;
	margin-right: 65px;
	margin-bottom: 25px;
	background-image: linear-gradient(to bottom, #E8C73F, #FCE583);
	background-color: #E8C73F;
}

.btn-nuevo:active,.btn-nuevo:focus,.btn-nuevo:hover {
	background-color: #FCE583;
}

form {
	padding-bottom: 50px;
}

.encabezadoNovedad {
	width: 100%;
}

/* .imgNovedad { */
/* 	width: 30%; */
/* 	float: left; */
/* 	margin-right: 15px; */
/* } */

.imgNovedad {
	width: 450px;
	float: left;
	margin-right: 15px;
}
.tituloNovedad {
	width: 400px;
	float: left;
	clear: right;
	font-size: 19pt;
	line-height: 110%;
}

.fechaNovedad {
	width: 400px;
	float: left;
	clear: right;
	font-size: x-small;
	margin-bottom: 15px;
}

/* .tituloNovedad { */
/* 	width: 68%; */
/* 	float: left; */
/* 	clear: right; */
/* 	font-size: 19pt; */
/* 	line-height: 110%; */
/* } */

/* .fechaNovedad { */
/* 	width: 68%; */
/* 	float: left; */
/* 	clear: right; */
/* 	font-size: x-small; */
/* 	margin-bottom: 15px; */
/* } */

.textoNovedad {
	padding-left: 5px;
	text-align: justify;
}

.textoNovedad h1,.textoNovedad h2,.textoNovedad h3,.textoNovedad h1,.textoNovedad h5
	{
	font-weight: normal;
	line-height: 1.2em;
	color: black;
	margin: 0;
	text-align: left;
	font-size: 40px;
}

.textoNovedad p,.textoNovedad p:hover {
	font-size: 100%;
	background: none;
}

/* .textoSeccionNovedad { */
/* 	padding-left: 5px; */
/* 	text-align: justify; */
/* 	width: 50%; */
/* } */

.textoSeccionNovedad {
	padding-left: 5px;
	text-align: justify;
	width: 400px;
}

.textoSeccionNovedad p,.textoSeccionNovedad p:hover {
	font-size: 100%;
	background: none;
}

.textoSeccionNovedadAntigua {
	padding-left: 5px;
}

.textoSeccionNovedadAntigua p,.textoSeccionNovedadAntigua p:hover {
	font-size: 100%;
	background: none;
}

.section_content_text_old {
	clear: left;
	height: 170px;
	margin-left: 10px;
	margin-top: 10px;
	width: 250px;
}

.textoSeccionNovedad {
	padding-left: 5px;
}

.textoSeccionNovedad p,.textoSeccionNovedad p:hover {
	font-size: 100%;
	background: none;
}

.formLabel {
	float: left;
	margin: 5px;
}

.formControl {
	float: left;
	margin: 5px;
}

.listado_subCategorias ul {
	float: left;
	width: 90%;
	margin-leff: 10px;
	margin-right: 10px;
	margin-top: -10px;
	padding: 30px;
	list-style: none;
	background-color: #DB541F;
}

.listado_subCategorias ul li {
	float: left;
	width: 23%;
	margin: 5px;
	padding: 0;
	text-align: center;
}

.listado_subCategorias ul li:hover {
	background-color: white;
	color: #DB541F;
}

.subtitulo {
	color: #30AD78;
	font-weight: bolder;
	font-size: 19pt;
	font-family: century gothic, verdana, arial, helvetica, sans-serif;
	margin-left: 19px;
}

.titulo_buscador {
	width: 90%;
	text-align: right;
	font-size: 140%;
	padding-right: 30px;
}

.seccionNovedades {
	color: #FF733E;
	border-color: #FF733E;
}

.seccionAnunciantes {
	color: #D0A732;
	border-color: #D0A732;
}

.seccionCategorias {
	color: #D0A732;
	border: none;
	text-align: left;
	width: auto;
	font-family: "Times New Roman", Georgia, Serif;
	font-style: italic;
	font-size: 19pt;
	margin: 19px;
	padding-bottom: 15px;
}

.tituloBuscador {
	color: #30AD78;
	font-size: 11pt;
	margin: 19px;
}

.tituloSeccion {
	border-bottom: solid 2px;
	width: auto;
	text-align: right;
	font-family: "Times New Roman", Georgia, Serif;
	font-style: italic;
	font-size: 30pt;
	margin: 19px;
	padding-bottom: 15px;
}

.innerContent {
	margin: 19px;
}

.btnFiltro {
	margin-top: 22px;
}

.row-fluid {
	margin-top: 15px;
}

.formBusqueda {
	margin: 0px;
	padding: 0px;
}

.listado_subCategorias ul li a {
	color: inherit;
	text-decoration: none;
}
.listado_subCategorias ul li{
	color: white;
	text-decoration: none;
}

.listado_subCategorias ul li a:hover {
	color: inherit;
	text-decoration: none;
}

.listado_subCategorias ul li:hover {
	color: #DB541F;
	text-decoration: none;
}

.eliminarFoto {
background-color: #FF0000;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    font-weight: bold;
    padding: 5px 10px;
    position: relative;
    top: 30px;
}

.coloresNotas{
	color: #205D4F;
}
.coloresNosotros{
	color: #BB350F;
}

.coloresNovedades{
	color: #FD7243;
}

.coloresAnunciantes{
	color: #D0A732;
}

.coloresContactos{
	color: #9E9224;
}
.texto_generico {
	width: 90%;
	text-align: left;
	font-size: 140%;
	padding-right: 30px;
	margin:19px;
}

.no-border{
	border:none;
}

.left-align{
	text-align: left;
}

.margin-box{
	margin:19px;
}

.publicidad{
	margin: 19px;
}